doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Menu Ristorante Teti
  link(rel='stylesheet' href='style.css')
each section in cibo.Sezione
  .section
    h1= section.Titolo
    .details-content
      each piatto in section.Piatto
        .dish
          .dish-info
            h2= piatto.Nome
            if piatto.Descrizione
              p.descrizione= piatto.Descrizione
            if piatto.Allergeni
              p.allergeni= piatto.Allergeni
            if piatto.Tipo
              p.Tipo= piatto.Tipo
          if piatto.Foto
            a(href=relativizeCDNURL(piatto.Foto))
              img(src=relativizeCDNURL(piatto.Foto))
          strong= piatto.Prezzo
nav
  img(src='logo.png' alt='Ristorante Teti' height='104' width='130')
  .nav
    a(href='./') Cibo
    a(href='./bevande.html') Bevande
footer
  p !{ lineBreakToBr(cibo.Informazioni) }
