doctype html
html(lang="it")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Menu Ristorante Teti
    link(rel='stylesheet' href='style.css')
    script(src='main.js' async)
  .nav.stagger-container
    nav
      .container.center
        img(src='logo.png' alt='Ristorante Teti' height='104' width='130')
    .menu.container.center
      each section in lista.Sezione
        a.ball.staggered-anim(href='#' + slugify(section.Titolo))
          .pill-text= section.Titolo
      button.toggle-allergens Mostra allergeni:
  main.stagger-container(hidden)
    nav
      .container.center
        a(href='#menu')
          img(src='logo.png' alt='Ristorante Teti' height='104' width='130')
        a.nav(href='#menu') Menu
    .content.container
      each section in lista.Sezione
        .section.ball-container(id=slugify(section.Titolo))
          .bg.sticky
            h1.ball.center
              .pill-text= section.Titolo
          .details-content.center
            if section.intro
              .dish !{ lineBreakToBr(section.intro) }
            each piatto in section.Piatto || section.Bevanda
              if piatto.attivo
                .dish-wrapper.staggered-anim
                  if piatto.Foto
                    button.dish-image(type='button')
                      img(loading='lazy' src=relativizeCDNURL(piatto.Foto))
                  .dish
                    h2= piatto.Nome
                    p
                      strong= '€ ' + (piatto.Prezzo || '').replace('€', '').replace('.', ',')
                      if piatto.Descrizione
                        span.descrizione= ' • ' + piatto.Descrizione
                    if piatto.allergeni.length > 0
                      p.allergeni= 'Allergeni: ' + piatto.allergeni.join(', ')
                    if piatto.etichette.length > 0
                      p.Tipo= piatto.etichette.join(', ')

      footer.center
        p !{ lineBreakToBr(lista.Informazioni) }
